<ion-header>
  <ion-navbar color="primary">
  <ion-searchbar style="border-radius:30px; opacity: .9"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">

  <ion-slides pager padding>
    <ion-slide *ngFor = "let banner of banners">
      <img src="{{banner.bannerUrl}}" />
    </ion-slide>
  </ion-slides>

  <p padding>热销商品</p>
  <ion-icon name="flame" ></ion-icon>


  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor = "let stick of goodsSticks" (click)="toDetail(stick.goodsId)">
        <ion-img src="{{stick.picUrl}}" ></ion-img>
        <p class="hot">{{stick.goodsName}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

