page-genre {

  p,a{
    color: rgb(88, 46, 19);
  }

  h1{
    text-align: center;
    color: rgb(88, 46, 19);
  }
  h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(19,19,14,0.38);
    padding-left: 5px;
  }

  .img-genre{
    height: 210px;
    width: 210px;
  }
}
