<ion-header>
  <ion-navbar color="primary">
    <ion-searchbar style="border-radius:30px; opacity: .5"
    [ngModel] = "myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
          <a *ngFor = "let classify of classifies" ion-item (click)="selectGoods(classify.classifyId)">
            {{classify.classifyName}}
          </a>
      </ion-col>

      <ion-col col-8>
        <ion-list >
          <ion-card *ngFor = "let goods of goodses">
            <img class="img-genre" src="{{goods.picUrl}}" (click)="toDetail(goods.goodsId)"/>
            <h1 margin-top>{{goods.goodsName}}</h1>
            <h4>{{goods.goodsBrief}}</h4>
            <ion-col>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='star'></ion-icon>
                收藏
              </button>
            </ion-col>
            <ion-col style="padding-left: 35px;">
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='cart'></ion-icon>
                购买
              </button>
            </ion-col>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



